<html>
    <head><style>
      .app {
        display: table;
        width: 100%;
    }
        
    .inner-pages {
        padding: 80px 60px 20px;
    }


        .inner-pages h2 {
            margin-bottom: 0;
            color: #39435b;
            font-weight: bold;
            font-size: 19.91pt;
            margin-top: 0;
        }

        .inner-pages strong {
            font-size: 14pt;
            color: #5c5d5f;
            display: block;
        }

        .inner-pages a {
            color: #39435b;
        }

        .inner-pages p {
            font-size: 13px;
            line-height: 1.6;
        }

         .check-status-page {
        display: flex;
        align-items: center;

    }  
    
    .check-status-page .check-status-form {
        max-width: 420px;
        margin: auto;
        /*border: 1px solid #cccccc;*/
        border-radius: 24px;
        padding: 30px;
        background: #fff;
        box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
        -webkit-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
        -ms-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
            }

        .btn,
        .control a.filled,
        .control button {
            font-weight: 400;
            background: transparent;
            border: 1px solid #39435b;
            border-radius: 50px;
            transition: all .3s;
            display: inline-block;
            padding: 14px 35px;
            /*padding: 10px 25px;*/
            font-size: 12.86pt;
            font-family: 'Muli', sans-serif;
            cursor: pointer;
        }

        .check-status-page .check-status-form .control {
            width: 100%;
            margin-bottom: 15px;
        }

        .clearfix::after
        .in_pages::after {
            content: "";
            clear: both;
            display: table;
        }

        .color1 {
            background: #f1f1f1;
        }

        .form-data {
            display: block;
            margin: 0 -15px;
            margin-top: 20px;
        }

        .form-data {
            margin: 0;
        }

            .form-data.isforced.clearfix {
                margin-top: 22px;
            }
        .addedspace {
            padding: 0 !important;
        }

        .app.inner-pages.clearfix.color1 {
            background-color: #ccebf5 !important;
        }

        .clearfix {
            overflow: auto;
        }


        .control span.helper {
            color: #939597;
            font-size: 6.68pt;
            display: block;
            margin-top: 4px;
            margin-left: 3px;
        }

        .isforced .control {
            float: left;
            margin-top: 4px !important;
            width: auto;
            text-align: center;
        }

        .form-data.isforced.clearfix {
            margin-top: 22px;
        }

        .isforced .control button {
            margin-right: 4px;
            white-space: nowrap
        }

        .control {
            float: left;
            width: 50%;
            padding: 0 15px;
        }

            .btn.filled,
            .control a.filled,
            .control button.filled {
                color: #fff;
                background: #39435b;
            }

    </style>
</head>
    <body>
        <div class="app inner-pages check-status-page clearfix color1">
            <div class="check-status-form addedspace" style="max-width:1000px !important">
            <h4 class="pinforhomeheading">HomeDeliveryPincode</h4>
                <div class="form-data isforced clearfix">
                    <div class="control btn-grp">
                        <a href="../Document/PinCode-Delhi.pdf" target="_blank" class="filled btn isforwardpay">Delhi State</a>
                        <a href="../Document/PinCode-UPv4.pdf" target="_blank" class="filled btn isforwardpay">UP State</a>
                        <a href="../Document/PinCode-Karnataka.pdf" target="_blank" class="filled btn isforwardpay">Karnataka State</a>
                        <a href="../Document/PinCode-MP.pdf" target="_blank" class="filled btn isforwardpay">Madhya Pradesh State</a>
                    </div>

                </div>

                </div>
            </div>
    </body>
</html>