<html>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="Images/favicon.html">
    <link rel="apple-touch-icon" href="apple-touch-icon.html">

    <!-- All css files are included here. -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->

</head>

<body>


<main class="main-body bg-img ptb--200 main-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="status-card" id="main">
                    <div class="title-area">
                        <h4 class="title">
                            HomeDeliveryPincode
                        </h4>
                    </div>
                    <div class="card-body">
                        <a href="../Document/PinCode-Delhi.pdf" class="submit-btn" >
                            Delhi State
                        </a>
                        <a href="../Document/PinCode-UPv4.pdf" class="submit-btn">
                            UP State
                        </a>
                        <a href="../Document/PinCode-Karnataka.pdf" class="submit-btn" >
                            Karnataka State
                        </a>
                        <a href="../Document/PinCode-MP.pdf" class="submit-btn">
                            Madhya Pradesh State
                        </a>
                    </div>
                </div>



            </div>

        </div>
    </div>
</main>

</body>
</html>
