<html>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="Images/favicon.html">
    <link rel="apple-touch-icon" href="apple-touch-icon.html">

    <!-- All css files are included here. -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->

</head>

<body>

    <!-- Body main wrapper start -->

   <main class="main-body ptb--50 main-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="title-area text-center">
                            <h4 class="title">FAQ's</h4>
                        </div>

                        <div class="faq-area">
                            <ul class="nav nav-pills justify-content-center mb-5" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="pills-hsrp-tab" data-bs-toggle="pill" data-bs-target="#pills-hsrp" type="button" role="tab" aria-controls="pills-hsrp" aria-selected="true">HSRP</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-replacement-tab" data-bs-toggle="pill" data-bs-target="#pills-replacement" type="button" role="tab" aria-controls="pills-replacement" aria-selected="false">Replacement (HSRP Already fitted)</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-frame-tab" data-bs-toggle="pill" data-bs-target="#pills-frame" type="button" role="tab" aria-controls="pills-frame" aria-selected="false">Frame</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="pills-fastag-tab" data-bs-toggle="pill" data-bs-target="#pills-fastag" type="button" role="tab" aria-controls="pills-fastag" aria-selected="false">Park+FasTag</button>
                                </li>
                            </ul>
                            <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-hsrp" role="tabpanel" aria-labelledby="pills-hsrp-tab" tabindex="0">
                                    <div class="accordion" id="accordionExample">
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Is it mandatory to get a High Security Registration Plate fitted to my vehicle?
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Yes, as per the provisions of the CMVR 1989 Rule 50, it is mandatory to have HSRP on all vehicles.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    How many Class of vehicle are there as per CMVR, 1989?
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Following is the Class of Vehicle </p>
                                                        <table class="table-borderless table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Sl No.</th>
                                                                    <th>Vehicles Class</th>
                                                                    <th>Alpha Numeric Colour</th>
                                                                    <th>Background Colour</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>Non-Transport Vehicles</td>
                                                                    <td>Black</td>
                                                                    <td>White</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>2</td>
                                                                    <td>Transport Vehicle</td>
                                                                    <td>Black</td>
                                                                    <td>Yellow</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>3</td>
                                                                    <td>Transport Vehicle under rent-a-cab </td>
                                                                    <td>Yellow</td>
                                                                    <td>Black</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>4</td>
                                                                    <td>Transport Vehicle under rent-a-cab (Battery Operated)</td>
                                                                    <td>Black</td>
                                                                    <td>Green</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>5</td>
                                                                    <td>Battery Operated Vehicle Non-Transport</td>
                                                                    <td>White</td>
                                                                    <td>Green</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>6</td>
                                                                    <td>Battery Operated Vehicle Transport</td>
                                                                    <td>Yellow</td>
                                                                    <td>Green</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    Is it mandatory to get a High Security Registration Plate fitted to my vehicle?
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Yes, as per the provisions of the CMVR 1989 Rule 50, it is mandatory to have HSRP on all vehicles.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    How can I identify colour sticker for my Vehicle?
                                                </button>
                                            </h2>
                                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <table class="table-borderless table">
                                                            <tbody>
                                                                <tr>
                                                                    <th>Bharat Stage Vehicles .</th>
                                                                    <th>Fuel Type</th>
                                                                    <th>Sticker Background Colour</th>
                                                                </tr>
                                                                <tr>
                                                                    <td>BS III and IV</td>
                                                                    <td>Petrol &amp; CNG Vehicles</td>
                                                                    <td>Light Blue</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>BS III and IV</td>
                                                                    <td>Diesel Vehicles</td>
                                                                    <td>Orange</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>BS III and IV</td>
                                                                    <td>Other Vehicles</td>
                                                                    <td>Grey</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>BS VI</td>
                                                                    <td>Petrol &amp; CNG Vehicles</td>
                                                                    <td>Light Blue with Green Strip</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>BS VI</td>
                                                                    <td>Diesel Vehicles</td>
                                                                    <td>Orange with Green Strip</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>BS VI</td>
                                                                    <td>Other Vehicles</td>
                                                                    <td>Grey with Green Strip</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    Which type of details are there on Colour Coded Third Registration Plate Stickers?
                                                </button>
                                            </h2>
                                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>
                                                            The Third Registration Plate colour coded sticker bears following details<br>
                                                            a) Name of the Registering Authority<br>
                                                            b) Registration Number of the Vehicle<br>
                                                            c) Laser Branded Permanent Identification Number; and<br>
                                                            d) Date of First Registration of the vehicle.<br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                    Can I request for Only Colour Coded Third Registration Plate Stickers?
                                                </button>
                                            </h2>
                                            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Yes, you can book for ONLY STICKER, in case you have installed the HSRP on your vehicle, you have to select ONLY STICKER option and provide the unique Laser codes printed on the left hand side bottom of front and Rear HSRP Plate installed on the vehicle.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                    What documents are required for booking of HSRP/Colour Coded Sticker?
                                                </button>
                                            </h2>
                                            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Not required.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                    Why Mobile No. and Mail ID is required to be updated at the time of booking?
                                                </button>
                                            </h2>
                                            <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>To provide update on Cash Receipt, HSRP at Dealer point, and OTP affixation updates <br>
                                                            A mechanism has been created wherein SMS and Mail updates are being shared from time to time related to your order It must be ensured that correct mobile no be provided.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                    What is the procedure for getting an HSRP fitted on my vehicle?
                                                </button>
                                            </h2>
                                            <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>
                                                            There are two process for getting HSRP affixed.<br>
                                                            a) New Vehicle – manufactured/registered after 04/2019<br>
                                                            b) Old Vehicle – manufactured/registered prior to 04/2019<br>

                                                            a) For Vehicle manufactured/registered after 04/2019 <br>
                                                            Kindly approach your Dealer (from where you have purchased the vehicle) for fitment of HSRP.

                                                            b) For Vehicle manufactured/registered prior to 04/2019 i.e. Old Vehicle<br>
                                                            Step 1: Visit www.bookmyhsrp.com<br>
                                                            Step 2: Select Affixation Location (Home/Dealer)<br>
                                                            Step 3: Select Booking Option (HSRP with Sticker or Only Sticker)<br>
                                                            Step 4: Select Vehicle Class (Private Vehicle / Commercial Vehicle)<br>
                                                            Step 5: Select Fuel Type (Petrol, Diesel, EV, CNG, CNG + Petrol)<br>
                                                            Step 6: Select Vehicle Type (2W/3W/4W, Heavy/ Other Vehicle)<br>
                                                            Step 7: Select Vehicle Make <br>
                                                            Step 8: Choose Your State<br>
                                                            Step 9: Select Dealer/Home Affixation (Dealer location where you want to affix your HSRP or Home address where you want to get HSRP installed)<br>
                                                            Step 10: Fill information – Ensure correct <br>
                                                            Step 11: Confirm the OTP received on your mobile number<br>
                                                            Step 12: Select Date &amp; Time slot<br>
                                                            Step 13: Enter your GST number if registered with GST. <br>
                                                            Step 14: Make online payment.<br>
                                                            Step 15: Provide GST No. if you are registered under GST<br>
                                                            Step 16: Order confirmation details will be confirmed through SMS/E-mail.<br>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                    What is the Price of HSRP & Affixation?
                                                </button>
                                            </h2>
                                            <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>It depends upon your vehicle make and vehicle class. The same will be displayed while selecting the fitment location.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                                    Can I have Option to select my convenient appointment time and location for fitment of HSRP on vehicle?
                                                </button>
                                            </h2>
                                            <div id="collapseEleven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Yes</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">
                                                    I missed my appointment date, can I re-schedule it?
                                                </button>
                                            </h2>
                                            <div id="collapseTwelve" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Yes, you can, Re-schedule the next available date of appointment.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">
                                                    I have booked my order; can I have option to change the affixation location?
                                                </button>
                                            </h2>
                                            <div id="collapseThirteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>No</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">
                                                    Is it possible that I can collect the HSRP and will get it fitted through my own?
                                                </button>
                                            </h2>
                                            <div id="collapseFourteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>No</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFifteen" aria-expanded="false" aria-controls="collapseFifteen">
                                                    Is vehicle owner required to be present with the vehicle at the time of fitment or not?
                                                </button>
                                            </h2>
                                            <div id="collapseFifteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Vehicle is required for affixation of HSRP and Sticker.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">
                                                    Any documents required while visiting for affixation of HSRP?
                                                </button>
                                            </h2>
                                            <div id="collapseSixteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Yes, following are required to be presented while affixation of HSRP<br>
                                                            a. Payment confirmation receipt <br>
                                                            b. Registration certificate of vehicle
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">
                                                    Whether I/we will get GST Bill as I/we am/are Registered under GST?
                                                </button>
                                            </h2>
                                            <div id="collapseSeventeen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>You are required to update GST No at the time of payment. Invoice will be provided over mail on credited of amount to our account.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">
                                                    I can’t find my vehicle brand (OEM) for ordering HSRP?
                                                </button>
                                            </h2>
                                            <div id="collapseEighteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>You can only book for those vehicles whose brand names are displayed in the web screen. For other brands which are not displayed, we are not authorised to process the HSRP order. Please get in touch with your dealer.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNinteen" aria-expanded="false" aria-controls="collapseNinteen">
                                                    I am facing issue in making payment?
                                                </button>
                                            </h2>
                                            <div id="collapseNinteen" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Might be some “popups” are blocking your screen in your browser and are not allow you to open the payment gateway window. Enable the popup browser, and try again.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">
                                                    What is the process to cancel/edit my order?
                                                </button>
                                            </h2>
                                            <div id="collapseTwenty" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>There is an option at the web screen “Cancel Order”.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyOne" aria-expanded="false" aria-controls="collapseTwentyOne">
                                                    Is there any option that I can cancel/edit my order?
                                                </button>
                                            </h2>
                                            <div id="collapseTwentyOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>The HSRP is a customized and specifically manufactured as per your order. It is advisable to confirm twice, the vehicle details before confirmation of order. <br>
                                                            You can’t edit your order, you may cancel the same within 4 hrs. from the booking of order. We will not be able to cancel the order after 4 hrs from the time of placing of order, since the HSRP/sticker would have manufactured by then.<br>
                                                            On successful cancellation the amount will be refunded within six-eight working days.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyTwo" aria-expanded="false" aria-controls="collapseTwentyTwo">
                                                    I have got the refund of the transaction, whereas I have not cancelled my transaction?
                                                </button>
                                            </h2>
                                            <div id="collapseTwentyTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>This transaction has been refused by Payment gateway, please process the new order.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyThree" aria-expanded="false" aria-controls="collapseTwentyThree">
                                                    I have cancelled my order, when will I get the refund?
                                                </button>
                                            </h2>
                                            <div id="collapseTwentyThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Refund process will start within 2 hours and should reflect in your account if transacted through UPI, within 3 to 4 working days; if transacted through Private bank 4-5 working days and if transacted nationalized banks in 7 to 8 working days.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyFour" aria-expanded="false" aria-controls="collapseTwentyFour">
                                                    I have update wrong details, what will I do?
                                                </button>
                                            </h2>
                                            <div id="collapseTwentyFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Please cancel the order within 4 hrs. of ordering and place the new Order.
                                                            The Company will not be held responsible, if the order got processed and HSRP is prepared. You have to bear cost or any enforcement issues from the authorities. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyFive" aria-expanded="false" aria-controls="collapseTwentyFive">
                                                    What will happen to my payment, if I cancel my order?
                                                </button>
                                            </h2>
                                            <div id="collapseTwentyFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>The company will immediately process the refund and a confirmation will be provided. </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentySix" aria-expanded="false" aria-controls="collapseTwentySix">
                                                    What is the process/procedure if any dispute/issue is being raised?
                                                </button>
                                            </h2>
                                            <div id="collapseTwentySix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>A screen is displayed on the website, contact us to access email id and contact details for Grievance related to fitment at dealer point/home service.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentySeven" aria-expanded="false" aria-controls="collapseTwentySeven">
                                                    I am not able to download the payment receipt?
                                                </button>
                                            </h2>
                                            <div id="collapseTwentySeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Visit https://bookmyhsrp.com/trackyourorder.aspx , update the details as asked and click on "Track your Order". The receipt will be e-mailed to you at your registered e-mail id.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwentyEight" aria-expanded="false" aria-controls="collapseTwentyEight">
                                                    What are Warranty terms and conditions for HSRP?
                                                </button>
                                            </h2>
                                            <div id="collapseTwentyEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>
                                                            HSRP Plate bears five years’ warranty only for Reflective sheeting as defined in Rule 50 of CMVR, 1989<br>
                                                            Following are the Exclusions: The Warranty will not be valid in case if the HSRP Plate is<br>
                                                            a) wiped/rubbed/scratched with harsh abrasive material, petrol /diesel /grease, detergents, acid, alkaline solutions, chemicals, solvent, abrasive cleaners, caustic cleaners, carbon or soot removers, degreasers, descales, deoxidizers, desmutters, detergents, disinfectants, sanitizers, biocides, germicides, sporicides, strippers (removers for paint, coatings, photoresists, adhesives, sealants or other resin materials) or any other removers.<br>
                                                            b) Accidental damages<br>
                                                            c) Any additional drills made/screws fitted plates<br>
                                                            d) Damage during fitment by dealer<br>
                                                            e) Mishandled cases – Bent/Warp Plates<br>
                                                        </p><br>
                                                        <b>Escalation Matrix for Warranty Claim</b><br>
                                                        a. Customer/dealer to report HSRP defect (provides the Picture of the HSRP Plate) to Rosmerta online<br>
                                                        b. Rosmerta will review the problem and revert back with proper resolution.<br>
                                                        c. In cases not covered in the warranty – a mail will be sent to the customer/dealer informing the reason for rejection of claim.<br>
                                                        <p>In cases covered in warranty - New part/under warranty repair will be provided back to ROSMERTA.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-replacement" role="tabpanel" aria-labelledby="pills-replacement-tab" tabindex="0">
                                    <div class="accordion" id="accordionExample2">
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    Replacement Process
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <ul style="padding-left: 20px;">
                                                            <li>Please click on the Replacement Booking Option mentioned on our website (www.bookmyhsrp.com)</li>
                                                            <li>Follow the instructions and select the reason for Replacement (Damaged/Lost) </li>
                                                            <li>Mention the details as asked </li>
                                                            <li>In case of Damaged Plate = Upload the Image of Front/Rear Plate. </li>
                                                            <li>In case of Lost / Damage Plate = upload the copy of FIR </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    My front plate is Damaged/Lost, what is the process?
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Click on the Replacement Option mentioned on our website and follow the instructions and in case of damaged upload the image of the Front/Rear Number Plate and in case of lost update the copy of FIR.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    My Front Number plate is Lost, which Laser code do I need to mention while booking for replacement?
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Please mention the Laser Code of Rear (Back) Number Plate.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    My Rear (Back) Number plate is Lost, which Laser code do I need to mention while booking for replacement?
                                                </button>
                                            </h2>
                                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Please mention the Laser Code of Front Number Plate.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    Would I get the early delivery (fitment), if I am booking in Replacement Option?
                                                </button>
                                            </h2>
                                            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Delivery (Fitment) is as per the scheduled appointment date.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                    Would I get a 3rd Sticker if I am looking for a single number plate?
                                                </button>
                                            </h2>
                                            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>
                                                            Yes, in case of three wheeler/four wheeler the 3rd color-coded Sticker along with the single number plate will be provided. It is not Applicable in case of 2 Wheelers.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                    I am looking for a Single Number Plate for 4 Wheeler, what would be the charges for Home Affixation?
                                                </button>
                                            </h2>
                                            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>
                                                            The charges would be standard as mentioned for Home Affixation whether you are booking for Single/Both Number Plates.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                    What are the charges if I am booking for Single Number Plate along with the 3rd Color Coded Sticker?
                                                </button>
                                            </h2>
                                            <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>
                                                            The charges would be standard if you are booking for Single Number Plate along with the 3rd Color Coded Sticker (Not Applicable for 2 Wheelers).
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                                                    Is FIR mandatory for booking the Order in the Lost Plate?
                                                </button>
                                            </h2>
                                            <div id="collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>
                                                            Yes, as mandated by Ministry of Road Transport & Highways, the FIR is mandatory.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="pills-frame" role="tabpanel" aria-labelledby="pills-frame-tab" tabindex="0">
                                    <div class="accordion" id="accordionExample3">
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    What are the benefits of using Frames with Number plates?
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <ul style="padding-left: 20px;">
                                                            <li>Keeps the number plate safe from damage during drive &amp; wind vibration</li>
                                                            <li>Looks uniform and clean.</li>
                                                            <li>Reduce abrasion of your car's paint from Number plate vibration on driving.</li>
                                                            <li>Keep Number Plate safe from getting dust deposit on the edges resulting in long life of number plate.</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    For what Type of Vehicles, the Number Plates Frames are available?
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>The frames are available for Cars, Scooters and Bikes.<br>
                                                            The size of the number plates for which the frames are available is as under:</p>

                                                        <ol>
                                                            <li><label>Car</label>: 500 mm X 120 mm (for both front and rear number plates)</li>
                                                            <li><label>Scooter</label>: 200 mm X 100 mm (for both Front and rear number plates)</li>
                                                            <li><label>Bike</label>: 200 mm X 100 mm (for Rear number plates) and 285mm X 45 mm (for front Number plate)</li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    How will be the frames delivered to me?
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>It will be delivered along With HSRP Plates</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    How can I cancel my Number plate frame?
                                                </button>
                                            </h2>
                                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample3">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p>Accordions are useful when you want to toggle between hiding and showing large amount of content. The .collapse class
                                                            indicates a collapsible element. An accordion allows users to toggle the display of sections of content.</p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="pills-fastag" role="tabpanel" aria-labelledby="pills-fastag-tab" tabindex="0">
                                    <div class="accordion" id="accordionExample4">
                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                    What are the benefits of Park+FasTag?
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample4">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <ul style="padding-left: 20px;">
                                                            <li>Park+FasTag has all the features of government mandate FASTag.</li>
                                                            <li>Comes with a prepaid balance of INR 99.</li>
                                                            <li>750+ NHAI and State highways across the country.</li>
                                                            <li>5k+ fuel pumps across Delhi NCR, Bengaluru, Mumbai</li>
                                                            <li>500+ parking lots across Delhi NCR, Bengaluru and Mumbai</li>
                                                            <li>No stopping at Society and Corporate gate linked to your FASTag</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Process to Activate the Park+FasTag using DIY?
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample4">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p style="margin-bottom: 10px;">Download <img src="assets/images/park-app.png"> App</p>
                                                        <ul style="padding-left: 20px;">
                                                            <li>Step 1: Scan the QR code to install app</li>
                                                            <li>Step 2: Go to FASTag activation page</li>
                                                            <li>Setp 3: Keep your FASTag and RC copy handy for activation</li>
                                                        </ul>
                                                        <p style="margin-bottom: 10px;">Activation Steps</p>
                                                        <ul style="padding-left: 20px;">
                                                            <li>Step 1: Scan the barcode on your FASTag</li>
                                                            <li>Setp 2: Fill in your vehicle registration number</li>
                                                            <li>Step 3: Enter your full name</li>
                                                            <li>Step 4: Enter your date of birth</li>
                                                            <li>Setp 5: Upload both sides of vehicle RC</li>
                                                        </ul>
                                                        <p>Press ”Activate FASTag” button</p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    How can I top up the balance on the tag?
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample4">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        The topups can be done with Park+ App.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="accordion-item">
                                            <img src="~/assets/images/Question.png" class="question-img" alt="">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    How can I cancel Park+FasTag?
                                                </button>
                                            </h2>
                                            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample4">
                                                <div class="accordion-body">
                                                    <div class="answer">
                                                        <p> The Park+FasTag bought along with the HSRP cannot be cancelled stand alone as the same is bought as a package.</p>
                                                        <p> If you decide to cancel the HSRP, the Tag order will also be deemed as cancelled.</p>
                                                        <p> For Park+FasTag queries Contact support@MyParkplus.com </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
</body>
</html>
