
@{
    Layout = null;
}
<div class="col-lg-4 col-md-6 col-sm-12 " id="state-select">
    <div class="form-group">
        <label class="form-label">State*</label>
        <select class="form-select custom-select" id="select-state">
        </select>
    
</div>
</div>