<div class="modal otp-modal otp-validate2 fade" id="otp-validate2Sticker" data-bs-backdrop="static" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
                <div class="m-icon">
                    <img src="~/assets/images/icons/success.gif" alt="">
                </div>
                <div class="m-desc">OTP Validate Successfully!</div>

                <div class="m-btn-group">
                    <a href="@(Url.Action("HomeDeliverySticker", "HomeDeliverySticker"))" class="fitment-btn">
                        <span class="icon"><img src="~/assets/images/icons/ic1.svg" alt=""></span>
                        <div class="text">
                            <h5>Home Delivery</h5>
                            <p>Only Additional 100 Rs.@* <br>Buy car frames 40% discounted price of Rs 225/-+GST</p> *@
                        </div>
                        <span class="i-fa"><i class="fas fa-chevron-circle-right"></i></span>
                    </a>

                    <a href="@(Url.Action("DealerDeliverySticker", "DealerDeliverySticker"))" class="fitment-btn">
                        <span class="icon"><img src="~/assets/images/icons/ic2.svg" alt=""></span>
                        <div class="text">
                            <h5>Dealer Appointment</h5>
                        </div>
                        <span class="i-fa"><i class="fas fa-chevron-circle-right"></i></span>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>