<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="Images/favicon.html">
    <link rel="apple-touch-icon" href="apple-touch-icon.html">

    <!-- All css files are included here. -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->

</head>

<body>


    <main class="main-body bg-img ptb--100 main-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="status-card">
                        <div class="title-area">
                            <h4 class="title">Check Receipt Validity</h4>
                        </div>
                        <div class="card-body">
                            <form action="">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label class="form-label">Order number:*</label>
                                            <input type="text" class="form-control" placeholder="DLHSRP1221XXXXX" id="orderNumber">
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <label class="form-label w-100">Captcha</label>
                                            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" id="txtCaptcha">
                                            <button class="input-group-text"><i class="fas fa-redo-alt" id="btnRefreshCaptcha"></i></button>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="input-group">
                                            <label class="form-label w-100">Input Captcha</label>
                                            <input type="text" class="form-control" id="txtInput">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="button" class="submit-btn" id="downloadReceipt">
                                            Search
                                        </button>
                                        <button type="button" class="submit-btn">
                                            Cancel
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>



</body>

@section Scripts
{
    
    <script>

        function DrawCaptcha() {
            var a = Math.ceil(Math.random() * 9) + '';
            var b = Math.ceil(Math.random() * 9) + '';
            var c = Math.ceil(Math.random() * 9) + '';
            var d = Math.ceil(Math.random() * 9) + '';
            var code = a + ' ' + b + ' ' + c + ' ' + d;
            document.getElementById("txtCaptcha").value = code;
        }

        window.onload = function () {

            DrawCaptcha();
            document.getElementById("btnRefreshCaptcha").addEventListener("click", DrawCaptcha);


        };

        function ValidCaptcha() {
            $(this).prop('disabled', true);

            const errorFunc = (title) => {
                Toast.fire({
                    icon: 'error',
                    title: title
                })



            }
            var captcha = removeSpaces(document.getElementById('txtCaptcha').value);
            var inputCaptcha = removeSpaces(document.getElementById('txtInput').value);
            if (inputCaptcha == '') {
                //alert("Captcha can't be blank!!");
                errorFunc("Captcha can't be blank!!");
                return;
            }
            else if (captcha == inputCaptcha) {
                return true;
            }
            else {
                // alert("Please Input Correct Captcha");
                errorFunc("Please Input Correct Captcha");
                return;
            }
        }
        function removeSpaces(string) {
            return string.split(' ').join('');
        }

        function removeSpaces(string) {
            return string.replace(/\s+/g, '');
        }


        $('#downloadReceipt').click(function () {
            handleButtonClickApproved.call(this, '/Receipt/DownloadReceipt', downloadReceipt, (result) => {
                // Success callback
                // You can handle the success result here, if needed
            });
        });

        async function handleButtonClickApproved(url, downloadReceipt, isSuccessFunc) {
            debugger;

            var orderNumber = $('#orderNumber').val();

            $(this).prop('disabled', true);
            var originalButtonText = $(this).html();

            const errorFunc = (title) => {
                Toast.fire({
                    icon: 'error',
                    title: title
                });
                $(this).prop('disabled', false);
                $(this).html(originalButtonText);
            };

            const data = { OrderNo: orderNumber }
            // AJAX request to download receipt
            try {
                const response = await downloadReceipt(url, data); // Assuming you have defined postData function
                if (response.size > 15) {
                    isSuccessFunc(response);
                    debugger;
                    console.log(response);
                    const orderNo = response.OrderNo;

                    var blob = new Blob([response], { type: 'application/pdf' });
                    var url = window.URL.createObjectURL(blob);

                    var a = document.createElement('a');
                    a.href = url;
                    a.download = orderNumber + '.pdf';
                    document.body.appendChild(a);
                    a.click();

                    window.URL.revokeObjectURL(url);
                }
                else {
                    errorFunc('Invalid Order No.');
                }
            } catch (error) {
                errorFunc('Error downloading receipt.');
            }
        }
    </script>
}
