<html>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="Images/favicon.html">
    <link rel="apple-touch-icon" href="apple-touch-icon.html">

    <!-- All css files are included here. -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css//style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->
    <style>
        .footer-bottom2{
            position: inherit
        }

    </style>
</head>

<body>

    <!-- Body main wrapper start -->

    <div class="wrapper">
        <!-- Start Header Style -->
        <!-- End Header Style -->
        <!-- Start Mobile Header -->
        <!--
                <div class="mobile-header d-block d-lg-none">
                    <div class="container">
                        <div class="row align-items-center justify-content-between">

                        </div>
                    </div>
                </div>
        -->
        <!-- End Mobile Header -->
        <!--  Start Offcanvas Mobile Menu Section  -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="toggleMenu">
            <div class="offcanvas-header">

                <!-- Start Header Logo -->
                <a href="index-3.html" class="header-logo">
                    <img src="~/Images/logo/logo.png" alt="">
                </a>
                <!-- End Header Logo -->

                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <!-- Start Offcanvas Mobile Menu Wrapper -->
                <div class="offcanvas-mobile-menu-wrapper">
                    <!-- Start Mobile Menu  -->
                    <div class="mobile-menu-bottom">
                        <!-- Start Mobile Menu Nav -->
                        <div class="offcanvas-menu">
                            <ul>
                                <li><a href="TrackOrder.html">Track Your Order</a></li>
                                <li><a href="ReAppointment.html">Reschedule Appointment</a></li>
                                <li><a href="OrderCancel.html">Cancel Order</a></li>

                                <li><a href="PinForHomeDelivery.html">Check For Home Installation</a></li>
                                <li><a href="ReceiptValidity.html"><b>Receipt Validity</b></a></li>
                                <li><a href="BookMyHSRP_ContactUs.html"><b>Contact Us</b></a></li>
                            </ul>
                        </div>
                        <!-- End Mobile Menu Nav -->
                    </div>
                    <!-- End Mobile Menu -->
                    <!-- End Mobile contact Info -->

                </div>
                <!-- Start Mobile contact Info -->
                <!--
                    <div class="mobile-contact-info text-center">
                        <ul class="social-link">
                            <li><a href="https://example.com/"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://example.com/"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://example.com/"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>-->
                <!-- End Offcanvas Mobile Menu Wrapper -->
            </div>
        </div>
        <!--  End Offcanvas Mobile Menu Section -->

        <section class="page-header d-lg-none">
            <div class="container">
                <div class="page-header__inner text-center">
                    <h5>Step 1</h5>
                    <h2>Booking Details</h2>
                </div>
            </div>
        </section>
       
        <main class="main-body bg-img ptb--50 main-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="status-card">
                            <div class="title-area">
                                <h4 class="title">Government Notifications</h4>
                            </div>
                            <div class="card-body">
                                <div class="notifi-list">
                                    <ul class="list-ul">
                                            <li><a href="assets/pdf/Gov_Pdf_file/1. G.S.R. 749 (E) dated 07-08-2018.pdf" target="_blank">1. G.S.R. 749 (E) dated 07-08-2018</a></li>
                                            <li><a href="assets/pdf/Gov_Pdf_file/2. G.S.R. 1162 (E) dated 04-12-2018.pdf" target="_blank">2. G.S.R. 1162 (E) dated 04-12-2018</a></li>
                                    <li><a href="assets/pdf/Gov_Pdf_file/3. S.O. 6052 (E) dated 06-12-2018.pdf" target="_blank">3. S.O. 6052 (E) dated 06-12-2018</a></li>
                                    <li><a href="assets/pdf/Gov_Pdf_file/4. S.O. 1018 (E) dated 25-02-2019.pdf" target="_blank">4. S.O. 1018 (E) dated 25-02-2019</a></li>
                                    <li><a href="assets/pdf/Gov_Pdf_file/5. G.S.R. 512 (E) dated 18-07-2019.pdf" target="_blank">5. G.S.R. 512 (E) dated 18-07-2019</a></li>
                                    <li><a href="assets/pdf/Gov_Pdf_file/6. S.O. 1759 (E) dated 05-06-2020.pdf" target="_blank">6. S.O. 1759 (E) dated 05-06-2020</a></li>
                                    <li><a href="assets/pdf/Gov_Pdf_file/7. S.O. 2339 (E) dated 14-07-2020.pdf" target="_blank">7. S.O. 2339 (E) dated 14-07-2020</a></li>
                                    <li><a href="assets/pdf/Gov_Pdf_file/8. MoRTH Circular No. RT-11036_99_2020-MVL dated 16-09-2020.pdf" target="_blank">8. MoRTH Circular No. RT-11036_99_2020-MVL dated 16-09-2020</a></li>
                                    <li><a href="assets/pdf/Gov_Pdf_file/9. MoRTH Circular No. RT-11036_56_2019-MVL (Part-1) dated 21-10-2020.pdf" target="_blank">9. MoRTH Circular No. RT-11036_56_2019-MVL (Part-1) dated 21-10-2020</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
       
</body>
</html>
