<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <style>


        .app {
            display: table;
            width: 100%;
        }

            .app section {
                display: table;
                width: 100%;
                height: 100%;
                transition: opacity .5s;
            }

                .app section.after {
                    /*display: none;*/
                }
                
    .inner-pages {
        padding: 80px 60px 20px;
    }


        .inner-pages h2 {
            margin-bottom: 0;
            color: #39435b;
            font-weight: bold;
            font-size: 19.91pt;
            margin-top: 0;
        }

        .inner-pages strong {
            font-size: 14pt;
            color: #5c5d5f;
            display: block;
        }

        .inner-pages a {
            color: #39435b;
        }

        .inner-pages p {
            font-size: 13px;
            line-height: 1.6;
        }

    .app .bars.ishovered {
        cursor: pointer;
    }

    /*.app .bars.ishovered:hover {*/
    .app .bars.pages:hover {
        transition: .3s;
        transform: scale(1.05);
    }

    .app .page5_sec .bars.pages:hover {
        cursor: pointer;
        transition: .3s;
        transform: scale(1) !important;
    }

        .check-status-page {
            display: flex;
            align-items: center;
        }

            .check-status-page .check-status-form {
                max-width: 420px;
                margin: auto;
                /*border: 1px solid #cccccc;*/
                border-radius: 24px;
                padding: 30px;
                background: #fff;
                box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
                -ms-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
            }

                .check-status-page .check-status-form .control {
                    width: 100%;
                    margin-bottom: 15px;
                }

        .app.inner-pages.clearfix.color1 {
            background-color: #ccebf5 !important;
        }

        .color1 {
            background: #f1f1f1;
        }

        .check-status-page .check-status-appointment {
            max-width: 820px;
        }

            .check-status-page .check-status-appointment .control {
                margin-top: 15px;
            }

            .check-status-page .check-status-appointment div[class*="col-"] {
                margin-bottom: 20px;
            }

            .check-status-page .check-status-appointment label {
                font-weight: 800;
                margin-bottom: 0;
            }

            .check-status-page .check-status-appointment p {
                font-size: 16px;
            }

        .addedspace .orname {
            margin: 35px 0;
        }

        .addedspace h4.orname {
            font-size: 15.91pt;
            margin: 35px 0;
        }

        .form-data {
            display: block;
            margin: 0 -15px;
            margin-top: 20px;
        }

        .form-data {
            margin: 0;
        }

            .form-data.isforced.clearfix {
                margin-top: 22px;
            }

    </style>
    </head>
<body>
    <div class="app inner-pages check-status-page clearfix color1">
        <div class="check-status-appointment check-status-form addedspace">
            <div>
                <h4>GOVERNMENT NOTIFICATIONS</h4>
            </div>
            <div class="form-data clearfix">

                <div class="list-group">
                    <a href="assets/pdf/Gov_Pdf_file/1. G.S.R. 749 (E) dated 07-08-2018.pdf" class="list-group-item list-group-item-action list-group-item-info" target="_blank">1. G.S.R. 749 (E) dated 07-08-2018</a>
                </div>
                <div class="list-group">
                    <a href="assets/pdf/Gov_Pdf_file/2. G.S.R. 1162 (E) dated 04-12-2018.pdf" class="list-group-item list-group-item-action list-group-item-info" target="_blank">2. G.S.R. 1162 (E) dated 04-12-2018</a>
                </div>
                <div class="list-group">
                    <a href="assets/pdf/Gov_Pdf_file/3. S.O. 6052 (E) dated 06-12-2018.pdf" class="list-group-item list-group-item-action list-group-item-info" target="_blank">3. S.O. 6052 (E) dated 06-12-2018</a>
                </div>
                <div class="list-group">
                    <a href="assets/pdf/Gov_Pdf_file/4. S.O. 1018 (E) dated 25-02-2019.pdf" class="list-group-item list-group-item-action list-group-item-info" target="_blank">4. S.O. 1018 (E) dated 25-02-2019</a>
                </div>
                <div class="list-group">
                    <a href="assets/pdf/Gov_Pdf_file/5. G.S.R. 512 (E) dated 18-07-2019.pdf" class="list-group-item list-group-item-action list-group-item-info" target="_blank">5. G.S.R. 512 (E) dated 18-07-2019</a>
                </div>
                <div class="list-group">
                    <a href="assets/pdf/Gov_Pdf_file/6. S.O. 1759 (E) dated 05-06-2020.pdf" class="list-group-item list-group-item-action list-group-item-info" target="_blank"> 6. S.O. 1759 (E) dated 05-06-2020</a>
                </div>
                <div class="list-group">
                    <a href="assets/pdf/Gov_Pdf_file/7. S.O. 2339 (E) dated 14-07-2020.pdf" class="list-group-item list-group-item-action list-group-item-info" target="_blank"> 7. S.O. 2339 (E) dated 14-07-2020</a>
                </div>
                <div class="list-group">
                    <a href="assets/pdf/Gov_Pdf_file/8. MoRTH Circular No. RT-11036_99_2020-MVL dated 16-09-2020.pdf" class="list-group-item list-group-item-action list-group-item-info" target="_blank"> 8. MoRTH Circular No. RT-11036_99_2020-MVL dated 16-09-2020</a>
                </div>
                <div class="list-group">
                    <a href="assets/pdf/Gov_Pdf_file/9. MoRTH Circular No. RT-11036_56_2019-MVL (Part-1) dated 21-10-2020.pdf" class="list-group-item list-group-item-action list-group-item-info" target="_blank"> 9. MoRTH Circular No. RT-11036_56_2019-MVL (Part-1) dated 21-10-2020</a>
                </div>

            </div>
        </div>
    </div>

</body>
</html>