<html>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="Images/favicon.html">
    <link rel="apple-touch-icon" href="apple-touch-icon.html">

    <!-- All css files are included here. -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css//style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->

</head>

<body>


        <main class="main-body ptb--50 main-bg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="title-area text-center">
                            <h4 class="title">Safe & Secure Transactions</h4>
                        </div>

                        <div class="policy-area">
                            <div class="policy-desc">
                                <h5>Educate yourself against Fraud/Scams</h5>
                                <p>
                                    We encourage you to read the following and make yourself aware of the warning signs of the most common kinds of Internet and Email
                                    frauds. There are two types of email scams - 'phishing' and 'spoofing'. In both the cases, the 'from address' is forged to make it appear as if it
                                    came from a source that it actually did not come from.
                                </p>
                            </div>

                            <div class="policy-desc">
                                <h5>What is Phishing?</h5>
                                <p>

                                    Phishing is an attempt by fraudsters to 'fish' for your personal details. A phishing attempt is usually in the form of an e-mail, which encourages you to click a link that takes you to a fraudulent log-on page designed to capture your account/password/personal details. These emails
                                    can also be used to lure the recipient into downloading harmful software. Please note that rosmertahsrp will never ask you to download
                                    software in order to access your information. More information about Phishing scams and how you can protect yourself against them is
                                    available here http://www.antiphishing.org/consumer_recs.html

                                </p>
                            </div>

                            <div class="policy-desc">
                                <h5>What is Spoofing?</h5>
                                <p>
                                    Spoof emails usually include a fraudulent offer of employment and/or an invitation to perform a monetary transaction. Such email scams are,
                                    unfortunately, common across the world and could target anyone - including unsuspecting jobseekers. The sender's address is often
                                    disguised and/or the sender may not have provided the entire contact information, such as, the correct physical address, phone numbers and
                                    email id.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </main>
       
</body>
</html>
