<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Dreams Rent | Template</title>

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.html">
    <link rel="apple-touch-icon" href="apple-touch-icon.html">

    <!-- All css files are included here. -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->


</head>

<body>

    <!-- Body main wrapper start -->

    <div class="wrapper">
      
        <!-- End Header Style -->
        <!-- Start Mobile Header -->
        <!--
                <div class="mobile-header d-block d-lg-none">
                    <div class="container">
                        <div class="row align-items-center justify-content-between">

                        </div>
                    </div>
                </div>
        -->
        <!-- End Mobile Header -->
        <!--  Start Offcanvas Mobile Menu Section  -->
        <div class="offcanvas offcanvas-start" tabindex="-1" id="toggleMenu">
            <div class="offcanvas-header">

                <!-- Start Header Logo -->
                <a href="index-3.html" class="header-logo">
                    <img src="assets/images/logo/logo.png" alt="">
                </a>
                <!-- End Header Logo -->

                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
           
        </div>
        <!--  End Offcanvas Mobile Menu Section -->

        <section class="page-header d-lg-none">
            <div class="container">
                <div class="page-header__inner text-center">
                    <h5>Step 2</h5>
                    <h2>Fitment Location</h2>
                </div>
            </div>
        </section>

        <!-- main start -->
        <main class="main-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-3 p-0 order-2 order-lg-1">
                        <div class="sidebar">
                            <div class="side-steper d-none d-lg-block">
                                <ul class="side-ul">
                                    <li class="active">Step -1 Booking Details</li>
                                    <li class="active">Step -2 Fitment Location</li>
                                    <li>Step -3 Appointment Slot</li>
                                    <li>Step -4 Booking Summary</li>
                                    <li>Step -5 Verify Details & Pay</li>
                                    <li>Step -6 Download Receipt</li>
                                </ul>
                            </div>
                            <div class="side-slide">
                                <div class="owl-carousel adds-carousel owl-theme">
                                    <div class="item"><img src="~/Images/adds/img-1.png" alt=""></div>
                                    <div class="item"><img src="~/Images/adds/img-2.png" alt=""></div>
                                    <div class="item"><img src="~/Images/adds/img-3.png" alt=""></div>
                                    <div class="item"><img src="~/Images/adds/img-4.png" alt=""></div>
                                    <div class="item"><img src="~/Images/adds/img-5.png" alt=""></div>
                                    <div class="item"><img src="~/Images/adds/QR.jpg" alt=""></div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-9 p-0 order-1 order-lg-2">
                        <div class="main-data main-bg">
                            <div class="title-area d-flex justify-content-between">
                                <h4 class="title">Dealer Appointment</h4>
                                <a href="@(Url.Action("HomeDelivery", "HomeDelivery"))" class="submit-btn">Home Delivery</a>
                            </div>
                            <div class="form-area">
                                <div class="form-area-inner">
                                    <div class="row align-items-center">
                                        @await Html.PartialAsync("~/Views/PartialView/_SelectStatePartial.cshtml")
                                        <div class="col-lg-2 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">City</label>
                                                <select id="select-city" class="form-select">
                                                    <option selected="selected" value="Select Vehicle Registration City">All</option>
                                                   

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Search Dealer/Pincode</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-6 col-sm-12">
                                            <button type="button" class="submit-btn2">
                                                Go
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="dealer-search-list">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="accordion" id="accordionExample">
                                          
                                        </div>
                                    </div>
                                </div>
                            </div> 

                         
                        </div>
                    </div>
                </div>

            </div>
        </main>
        <div class="col-md-12" id="dealerTimeSlots">
        </div>
        <!-- main end -->
        <!-- footer area start -->
      
        <!-- footer area end -->
        <!-- Modal -->
        

    </div>
    <!-- Body main wrapper end -->
    <!-- Body main Script start -->
   
    @section Scripts
    {
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-BmbxuPwQa2lc/F1HY3Fmdsh1sD0TKbdMFiKbqWJHEQqBovfef14R4Td+2clzFEqf" crossorigin="anonymous"></script>
        <script src="~/js/owl.carousel.min.js"></script>

        <script>
            var stateId = "";
            $(async function () {
              
                $('#show-div').hide();
             //   await fetchAllStates();
                await fetchstatesbyId();
                await getDealerData();
                //await fetchCityByStateId(); 

            });
    $('.adds-carousel').owlCarousel ({
    loop: true,
    margin: 10,
    nav: false,
    dots: false,
    autoplay: true,
    responsive: {
    0: {
    items: 1
    },
    600: {
    items: 1
    },
    1000: {
    items: 1
    }
    }
    })
            async function fetchstatesbyId() {
                
                var url = "/get-stateId"
                const result = await fetchData(url);
                if(result!=null && result!="")
                {
                     stateId= Number(result)
                    await fetchStates(result);
                    await fetchCityByStateId(stateId);
                }
            }
         
    $('#select-state').change(async function(){
                var stateId = $(this).val();
                if (stateId) {
                    let url = '/' + stateId;
                    let resultEmbossingCenter = await fetchData(url);
                    bindDynamicSelectHtml('#select-dynamic', resultEmbossingCenter, 'Emb_Center_id', 'EmbCenterName', 'Select Embossing Center');
                }
    })
            async function fetchCityByStateId(stateId) {
               
                let url = '/get-city/' + stateId; 
                let resultEmbossingCenter = await fetchData(url);
                bindDynamicSelectHtml('#select-city', resultEmbossingCenter, 'District', 'District', 'Select City');




            }
            async function getDealerData() {
                let url = '/bind-dealers';
                let result = await fetchData(url);
                if (result.data.Message == 'Success') {

                    if (result.dealerAppointment.length > 0) {
                        var htmlData = "";
                        var dataBind = result.dealerAppointment;
                        gotDealerArray = dataBind;
                        var arrayCities = [];
                        for (var i = 0; i < dataBind.length; i++) {
                            var cityDealer = $.trim(dataBind[i].City.toUpperCase());
                            var dealer = dataBind[i];
                            var dealerName = dealer.DealerName;
                            var dealerAddress = dealer.Address;
                            var dealerCity = dealer.City;
                            var dealerPincode = dealer.Pincode;
                            var dealerContactNo = dealer.DealerAffixationCenterContactNo;
                            var dealerContactName = dealer.DealerAffixationCenterName;
                            var distance = dealer.Distance;
                            var dealerAmountWithGST = dealer.RoundOff_netamount;
                            var earliestDateAvailable = dealer.EarliestDateAvailable;
                            var dealerId = dealer.DealerAffixationID;
                            var expressCheckout = dealer.ExpressCheckout;
                            var roundOff_netamount = dealer.RoundOff_netamount;
                            var cnt = dealer.cnt;
                            var cnt = dealer.EarliestTimeSlotAvailable;
                            var state = dealer.StateName
                            var accordionItem = $('<div class="accordion-item"></div>');

                            // Create accordion header
                            var accordionHeader = $('<h2 class="accordion-header"></h2>');

                            // Create accordion button
                            var accordionButton = $('<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_' + i + '" aria-expanded="true" aria-controls="collapse_' + i + '"></button>');
                            accordionButton.text(dealerName + '-' + dealerCity);

                            // Create accordion collapse
                            var accordionCollapse = $('<div id="collapse_' + i + '" class="accordion-collapse collapse" data-bs-parent="#accordionExample"></div>');

                            // Create accordion body
                            var accordionBody = $('<div class="accordion-body"></div>');
                            var row = $('<div class="row"></div>');

                            // Create columns for the address and price details
                            var colLeft = $('<div class="col-lg-6"></div>');
                            var colRight = $('<div class="col-lg-6"></div>');

                            // Populate address details
                            var ul = $('<ul class="area-ul"></ul>');
                            var liCity = $('<li><span>City:</span><br><span id="city_' + i + '" class="cd">' + dealerCity + '</span></li>');
                            var liAddress = $('<li><span>Address:</span><br><span class="cd">' + dealerAddress + '</span></li>');
                            var stateandPincode = $('<span class="cd">' + state+ ' : ' + dealerPincode + '</span>');
                           
                            // Populate price details
                            var priceCard = $('<div class="price-card"></div>');
                            var bDate = $('<div class="b-date"><h6 class="d-title">Earliest Date Available</h6><div class="d-date">' + earliestDateAvailable + '</div></div>');
                            var priceArea = $('<div class="price-area justify-content-between"></div>');
                            var tPrice = $('<div class="t-price"><span>HSRP Set</span> RS.' + dealerAmountWithGST + '</div>');
                          //  var confirmDealerBtn = $('<a  href='/appointmentSlot/ " + result[i].Id + "'  class="submit-btn2 confirm-dealer">Confirm Dealer</a>');
                            var confirmDealerBtn = $('<a data-id="'+dealerId+'" class="submit-btn2 confirm-dealer">Confirm Dealer</a>');
                            // Append address details to left column
                            colLeft.append(ul.append(liCity, liAddress, stateandPincode));

                            // Append price details to right column
                            colRight.append(priceCard.append(bDate, priceArea.append(tPrice, confirmDealerBtn)));

                            // Append columns to row
                            row.append(colLeft, colRight);

                            // Append row to accordion body
                            accordionBody.append(row);

                            // Append accordion button, body, and collapse to accordion header
                            accordionHeader.append(accordionButton);
                            accordionItem.append(accordionHeader, accordionCollapse.append(accordionBody));

                            // Append accordion item to parent container
                            $('#accordionExample').append(accordionItem);
                        }
                    } else {
                        ShowToast('No Dealer Found', 'rgb(15, 52, 67)');
                    }
                } else {
                    ShowToast(response.message, 'Red');
                }
                      //     var response = $.parseJSON(result);
                // bindDynamicSelectHtml('#select-city', resultEmbossingCenter, 'District', 'District', 'Select City');



            
        }
        
            $('.form-control').on('input', function () {
                var searchText = $(this).val().trim().toUpperCase(); // Get search text and normalize to uppercase

                // Loop through each item in dataBind
                $('.accordion-item').each(function () {
                    var accordionItem = $(this);
                    var dealerPincode = $.trim(accordionItem.find('.cd.pincode').text().toUpperCase()); // Get pincode and normalize to uppercase

                    // Check if pincode contains the search text
                    if (dealerPincode.includes(searchText)) {
                        accordionItem.show(); // Show the item if it matches
                    } else {
                        accordionItem.hide(); // Hide the item if it doesn't match
                    }
                });
            });

            $(document).on('click', '.confirm-dealer',async function (event) {
                    var id = $(this).attr('data-id');;
                    affixationId = Number(id)
                let url = "/check-affixation-Id/" + affixationId;
                if (url != null && url!=undefined)
                {
                    let result = await fetchData(url);
                    var response = $.parseJSON(result);
                    if (response.Message == "Affix") {

                    }
                    if (response.Message == "Success") {
                        window.location.href = "/appointmentSlot";
                    }
                }
                
            
                else {
                    return
                }
            });

            function PopulateCityByDealers(data) {

                if (data !== null && data.length > 0) {
                    data = data.filter(onlyUnique).sort();
                    var optionsGot = "<option value=''>Select City</option>";
                    optionsGot += "<option value=''>All</option>";
                    for (var i = 0; i < data.length; i++) {
                        optionsGot += "<option value='" + data[i] + "'>" + data[i] + "</option>";
                    }
                    $('#ddlSelectCity').html(optionsGot);
                } else {
                    ShowToast("Cities not found.", "rgb(15, 52, 67)");
                }
            }
            function onlyUnique(value, index, self) {
                return self.indexOf(value) === index;
            }

        </script>
    }
    <!-- Body main Script end -->
</body>

</html>
