<html>


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">

    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="Images/favicon.html">
    <link rel="apple-touch-icon" href="apple-touch-icon.html">

    <!-- All css files are included here. -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css//style.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->
    <!--     <link rel="stylesheet" href="assets/css/owl.theme.default.min.css"> -->

    <style>
        .footer-bottom2 {
            position: inherit;
        }
    </style>

</head>

<body>

    <!-- main start -->
    <main class="main-body main-bg bg-img">
        <div class="cont-heading">
            <h5>Contact Us</h5>
        </div>
        <div class="container ptb--20">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="cont-card">
                        <div class="cont-title">
                            <h4 class="title">General Enquiry For Karnataka State</h4>
                        </div>
                        <div class="card-body">
                            <ul class="cont-ul">
                                <li>
                                    <span class="icon"><i class="fas fa-phone-alt"></i></span>
                                    <span class="desc"><a href="tel:8929722201">+91 - 8929722201</a></span>
                                </li>

                                <li>
                                    <span class="icon"><i class="fas fa-envelope"></i></span>
                                    <span class="desc"><a href="mailto:cssupport@rosmertasafety.com">cssupport@rosmertasafety.com</a></span>

                                </li>

                                <li>
                                    <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                                    <span class="desc">Working Days (Mon to Sat)</span>
                                </li>

                                <li>
                                    <span class="icon"><i class="fas fa-clock"></i></span>
                                    <span class="desc">Between <b>(09:00 AM to 06:00 PM)</b></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="cont-card">
                        <div class="cont-title">
                            <h4 class="title">General Enquiry For Karnataka State</h4>
                        </div>
                        <div class="card-body">
                            <ul class="cont-ul">
                                <li>
                                    <span class="icon"><i class="fas fa-phone-alt"></i></span>
                                    <span class="desc"><a href="tel:8929722201">+91 - 8929722201</a></span>
                                </li>

                                <li>
                                    <span class="icon"><i class="fas fa-envelope"></i></span>
                                    <span class="desc"><a href="mailto:online@bookmyhsrp.com">online@bookmyhsrp.com</a></span>
                                </li>

                                <li>
                                    <span class="icon"><i class="fas fa-envelope"></i></span>
                                    <span class="desc"><a href="mailto:onlinemp@bookmyhsrp.com">onlinemp@bookmyhsrp.com</a></span>
                                </li>

                                <li>
                                    <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                                    <span class="desc">Working Days (Mon to Sat)</span>
                                </li>

                                <li>
                                    <span class="icon"><i class="fas fa-clock"></i></span>
                                    <span class="desc">Between <b>(09:00 AM to 06:00 PM)</b></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="cont-card">
                        <div class="cont-title">
                            <h4 class="title">Grievance For Karnataka State</h4>
                        </div>
                        <div class="card-body">
                            <ul class="cont-ul">
                                <li>
                                    <span class="icon"><i class="fas fa-phone-alt"></i></span>
                                    <span class="desc"><a href="tel:8929722201">+91 - 8929722201</a></span>
                                </li>

                                <li>
                                    <span class="icon"><i class="fas fa-envelope"></i></span>
                                    <span class="desc"><a href="mailto:cssupport@rosmertasafety.com">cssupport@rosmertasafety.com</a></span>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="cont-card">
                        <div class="cont-title">
                            <h4 class="title">Grievance For Other State</h4>
                        </div>
                        <div class="card-body">
                            <ul class="cont-ul">
                                <li>
                                    <span class="icon"><i class="fas fa-phone-alt"></i></span>
                                    <span class="desc"><a href="tel:8929722203">+91 - 8929722203</a></span>
                                </li>

                                <li>
                                    <span class="icon"><i class="fas fa-envelope"></i></span>
                                    <span class="desc"><a href="mailto:grievance@bookmyhsrp.com">grievance@bookmyhsrp.com</a></span>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="cont-card">
                        <div class="cont-title">
                            <h4 class="title">Home Delivery Grievance Cell Email/Mobile</h4>
                        </div>
                        <div class="card-body">
                            <ul class="cont-ul">
                                <li>
                                    <span class="icon"><i class="fas fa-phone-alt"></i></span>
                                    <span class="desc"><a href="tel:8929722202">+91 - 8929722202</a></span>
                                </li>

                                <li>
                                    <span class="icon"><i class="fas fa-envelope"></i></span>
                                    <span class="desc"><a href="mailto:homegrievance@bookmyhsrp.com">homegrievance@bookmyhsrp.com</a></span>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row justify-content-center">
            </div>
        </div>
    </main>
    <!-- main end -->

</body>
</html>
