@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Contact Us</title>
    <title>Contact Us</title>
    <style>
        .check-status-page {
            display: flex;
            align-items: center;
        }

            .check-status-page .check-status-form {
                max-width: 420px;
                margin: auto;
                /*border: 1px solid #cccccc;*/
                border-radius: 24px;
                padding: 30px;
                background: #fff;
                box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
                -ms-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
            }

                .check-status-page .check-status-form .control {
                    width: 100%;
                    margin-bottom: 15px;
                }

                    .check-status-page .check-status-form .control label {
                        font-size: 12pt;
                    }

                    .check-status-page .check-status-form .control button.filled {
                        float: left;
                    }

                .check-status-page .check-status-form input[type='text'] {
                    border: 1px solid #cccccc;
                }


            .check-status-page .check-status-form {
                max-width: 420px;
                margin: auto;
                /*border: 1px solid #cccccc;*/
                border-radius: 24px;
                padding: 30px !important;
                background: #fff;
                box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
                -webkit-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
                -moz-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
                -ms-box-shadow: 0 1px 40px rgba(0, 0, 0, 0.1);
            }

                .check-status-page .check-status-form .control {
                    width: 100%;
                    margin-bottom: 15px;
                }

                    .check-status-page .check-status-form .control button.filled {
                        margin-right: 20px;
                    }

                    .check-status-page .check-status-form .control label {
                        font-size: 12pt;
                    }

                    .check-status-page .check-status-form .control button.filled {
                        float: left;
                    }

                .check-status-page .check-status-form input[type='text'] {
                    border: 1px solid #cccccc;
                }


        .errorpage .check-status-form {
            background: #fce68b !important;
        }
        /* Add your additional CSS styles here */
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }
    </style>
</head>
<body>
   
    <div class="check-status-page clearfix color1">
        <h1 style="margin: auto; padding: 1%;">
            <span>Contact Us</span>
        </h1>
    </div>
    <div class="app inner-pages check-status-page clearfix color1">

        <div class="check-status-form addedspace">
            <div class="form-data clearfix contactus">
                <div class="control">
                    <div style="padding: 20px 0 20px;">
                        <h4 style="text-align: center; box-shadow: 0px 0px 3px 0px #949494; padding: 8px 5px; background: #eaffed;">
                            General Enquiry
                        </h4>

                        <h5><u>For Karnataka state</u></h5>

                        <p style="margin-bottom: 3px"><b><a style="color: black;" href="tel:+918929722201">8929722201</a></b></p>
                        <p style="margin-bottom: 3px"><b><a style="color: black;" href="mailto:cssupport@rosmertasafety.com">cssupport@rosmertasafety.com</a></b></p>

                        <p style="margin-bottom: 5px;">Working Days</p>
                        <p>Between Time</p>

                        <h5><u>For other states</u></h5>
                        <b>
                            <p><a style="color: black;" href="tel:8929722201">8929722201</a></p>
                        </b>

                        <p style="margin-bottom: 5px;">Working Days</p>
                        <p>Between Time</p>

                        <h5 style="margin-bottom: 3px">Customer Care Email</h5>
                        <b>
                            <p>
                                <a style="color: black;" href="mailto:online@bookmyhsrp.com">online@bookmyhsrp.com</a></br>
                                <a style="color: black;" href="mailto:onlinemp@bookmyhsrp.com">onlinemp@bookmyhsrp.com</a>
                            </p>
                        </b>
                    </div>
                </div>
            </div>
        </div>

        <div class="check-status-form addedspace">
            <div class="form-data clearfix contactus">
                <div class="control">
                    <h4 style="text-align: center; box-shadow: 0px 0px 3px 0px #949494; padding: 8px 5px; background: #eaffed;">
                        Grievance
                    </h4>

                    <h5><u>For Karnataka state</u></h5>
                    <h5 style="margin-bottom: 3px">Dealer/Home Point Grievance Cell Email</h5>
                    <b>
                        <p style="margin-bottom: 5px;"><a style="color: black;" href="mailto:cssupport@rosmertasafety.com">cssupport@rosmertasafety.com</a></p>
                    </b>
                    <h5 style="margin-bottom: 3px">Grievance Cell Mobile</h5>
                    <b>
                        <p style="margin-bottom: 5px;"><a style="color: black;" href="tel:+918929722201">8929722201</a></p>
                    </b>
                    <h5><u>For other states</u> </h5>

                    <h5 style="margin-bottom: 3px">Dealer Point Grievance Cell Email</h5>
                    <b>
                        <p style="margin-bottom: 5px;"><a style="color: black;" href="mailto:grievance@bookmyhsrp.com">grievance@bookmyhsrp.com</a></p>
                    </b>
                    <h5 style="margin-bottom: 3px">Grievance Cell Mobile</h5>
                    <b>
                        <p style="margin-bottom: 5px;"><a style="color: black;" href="tel:+918929722203">8929722203</a></p>
                    </b>

                    <hr>

                    <h5 style="margin-bottom: 3px">Home Delivery Grievance Cell Email</h5>
                    <b>
                        <p style="margin-bottom: 5px;"><a style="color: black;" href="mailto:homegrievance@bookmyhsrp.com">homegrievance@bookmyhsrp.com</a></p>
                    </b>
                    <h5 style="margin-bottom: 3px">Home Delivery Grievance Cell Mobile</h5>
                    <b>
                        <p style="margin-bottom: 5px;"><a style="color: black;" href="tel:+918929722202">8929722202</a></p>
                    </b>
                </div>
            </div>
        </div>

    </div>

    <div class="check-status-page clearfix color1">
        <h5 style="margin: auto; padding: 1%;"><b>Corporate Office : </b>Rosmerta Safety Systems Pvt. Ltd., Plot no. 66-P, Urban Estate, Sector 44, Gurugram, Haryana, 122003</h5>
    </div>

</body>
</html>
